.Container-2 {
    padding: 80px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(https://img.elo7.com.br/product/600x380/206473B/papel-de-parede-autocolante-para-barbearia-retro-fundo-preto-papel-de-parede-beb.jpg) no-repeat center;
    background-size: cover;
}

.titulo-plano {
    font-size: 2.6rem;
    font-weight: 900;
    color: white;
    text-align: center;
    margin-bottom: 60px;
    font-family:var(--fonte-logo);
}

.titulo-plano span {
    color: var(--dourado);
}

.bloco-planos {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.card-plano {
    background: linear-gradient(180deg, #1a1a1a, #0f0f0f);
    border-radius: 22px;
    padding: 36px 28px;
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
    border: 2px solid #2a2a2a;
    transition: all 0.35s ease;
}

.card-plano:hover {
    transform: translateY(-12px);
    border-color: var(--dourado);
}

.card-plano.destaque {
    background: linear-gradient(180deg, #d3af37, #a8872c);
    color: black;
    transform: scale(1.08);
    border: none;
}
.plano-titulo {
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.plano-tipo {
    font-size: 1.5rem;
    font-weight: 900;
}

.plano-preco {
    font-size: 2.4rem;
    font-weight: 900;
}

.plano-preco span {
    font-size: 1rem;
    font-weight: 700;
}

.plano-beneficios {
    list-style: none;
    padding: 0;
    width: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.plano-beneficios li {
    font-size: 0.95rem;
    font-weight: 700;
    padding: 8px 0;
    border-bottom: 1px solid rgba(255,255,255,0.15);
    text-align: center;
}

.card-plano.destaque .plano-beneficios li {
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.btn-plano {
    margin-top: auto;
    width: 100%;
    padding: 14px;
    border-radius: 30px;
    border: none;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
    background: var(--dourado);
    color: #ffff;
    transition: transform 0.3s ease;
    box-shadow: 0 10px 25px rgba(201, 162, 77, 0.4);
}

.btn-plano:hover {
    transform: translateY(-4px);
    background-color: var(--dourado-metalico);
    box-shadow: 0 16px 35px rgba(201, 162, 77, 0.6);
}

.destaque-btn {
    background: black;
    color: white;
}

.badge {
    position: absolute;
    margin-top: -60px;
    background: black;
    color: var(--dourado);
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 0.75rem;
    font-weight: 900;
     font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

@media (max-width: 768px) {
    .bloco-planos {
        flex-direction: column;
    }

    .card-plano.destaque {
        transform: none;
    }
}
